.hide {
    display: none;
}

/* #region Common Styles */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}

:root {
    --general-text-color: #434455;
    --subheader-color: #2E2F42;
    --logo-font: "Raleway", sans-serif;
    --footer-background: #2E2F42;
    --footer-text-color: #F4F4FD;
    --main-page-background: #2E2F42;


}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.container {
    min-width: 320px;
    margin: 0 auto; 
    padding: 0 16px;

     outline: 2px solid red;
    outline-offset: -2px; 
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px; 
    }
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

section {
    padding: 96px 0;
}
@media screen and (min-width: 1158px) {
    section {
        padding: 120px 0;
    }
}

footer {
    padding: 96px 0;
}

/* #endregion */

/* #region Header */

.page-header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 2px 1px rgba(46, 47, 66, 0.08),0px 1px 1px rgba(46, 47, 66, 0.16),0px 1px 6px rgba(46, 47, 66, 0.08);
    background-color: #FFF;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.page-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.burger-menu {
    border: none;
    padding: 0;
    background: transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;
}
@media screen and (min-width: 768px){
    .burger-menu {
        display: none;
    }
}

@media screen and (min-width: 1158px) {

}


.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    padding: 17.5px 0;
}

.second_name {
    color: #2E2F42;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.nav-list {
    display: none;
}
@media screen and (min-width: 768px){
 .nav-list {
    display: flex;
    gap: 40px;
 }
 .nav-item {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
 }

.nav-link {
    display: block;
    padding: 24px 0;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.nav-link:active {
    color: #404BBF;
}
 .nav-link.current {
     position: relative;
     color: #404BBF;
 }
 .nav-link.current::after {
    position: absolute;
        height: 4px;
        border-radius: 2px;
        background-color: #404BBF;
        content: "";
        width: 100%;
        left: 0;
        bottom: -1px;
 }

 .page-nav {
    display: flex;
        align-items: center;
        margin-right: auto;
        gap: 120px;
 }
 .page-header .container {
    display: flex;
    align-items: center;
 }
}

@media screen and (min-width: 1158px) {
    .nav-link:hover
    .nav-link:focus {
        color: #404BBF;
    }
}

.contact-information {
    display: none;
}
@media screen and (min-width: 768px) {

.contact-information {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.contact-item {
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.48px;
}
.contact-link {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:active {
    color: #404BBF;
}
}


@media screen and (min-width: 1158px) {
.contact-information {
    flex-direction: row; 
    gap: 40px;
}
.contact-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.contact-link:hover,
.contact-link:focus {
    color: #404BBF;
}
}








/* #endregion */

/* #region Hero */
.main-page {
    background-color: var(--main-page-background);
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/order-mob-bg@1x-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media screen and (min-resolution: 192dpi) {
    .main-page {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/order-mob-bg@2x-min.jpg);
    }
}
@media screen and (min-width: 768px) {
    .main-page {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/order-mob-bg@1x-min.jpg);
    }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .main-page {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/order-mob-bg@2x-min.jpg);
        }
}
@media screen and (min-width: 1158px) {
    .main-page {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/order-mob-bg@1x-min.jpg);
        }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .main-page {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/order-mob-bg@2x-min.jpg);
        }
}

.main-page .container {
    padding: 72px 52px;
}
@media screen and (min-width: 768px) {
    .main-page .container {
    padding: 112px 136px;

    }
}
@media screen and (min-width: 1158px) {
    .main-page .container{
    padding: 188px 331px;
}
}


.main-title {
    color:  #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .main-title{
    color:  #FFF;
    font-family: Roboto;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 1.12px;
    margin-bottom: 36px;
    }
}

@media screen and (min-width: 1158px) {
    .main-title {
    margin-bottom: 48px;
    line-height: 1.07;
    }
}


.modal-btn {
    margin: 0 auto;
    padding: 16px 32px;
    display: block;
    width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:active {
    background-color: #404BBF;

}

@media screen and (min-width: 1158px) {
.modal-btn {
        min-width: 169px;
        min-height: 56px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
    background-color: #404BBF;
}
}


/* #endregion */


/* #region Values */
 .company-values {
    background-color: #FFFFFF;
 }
 .values {
    display: flex;
    flex-direction: column;
    gap: 72px;
 }
 @media screen and (min-width: 768px) {
    .values {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }
 }


 @media screen and (min-width: 1158px) {
    .values {
    gap: 24px;  
    flex-wrap: nowrap;
    }
 }



 @media screen  and (min-width: 768px) {
    .list-item {
    width: calc((100% - 24px) / 2);

    }
 }


 @media screen and (min-width: 1158px) {
    .list-item {
    width: calc((100% - 72px) / 4);
 }
 }
 
 .value-icon {
    display: none;
 }


 @media screen and (min-width: 1158px){
    .value-icon {
        display: block;
 }
 .value-wrapper {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 264px;
     height: 112px;
     border-radius: 4px;
     border: 1px solid #8E8F99;
     background: #F4F4FD;
     margin-bottom: 8px;
 }
}
 .company-value {
    color:  #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 8px;
 }


 @media screen and (min-width: 768px) {
    .company-value {
        text-align: start;
    }
 }
 @media screen and (min-width: 1158px) {
    .company-value {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
    }
 }

 .value-descr {
    color:#434455;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
 }

@media screen and (min-width: 1158px) {
.value-descr { 
    font-weight: 400;
}
}


/* #endregion */


/* #region TEAM */
.company-team {
    background-color: #F4F4FD;
}
.team-title {
    margin-bottom: 72px;
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.team {
    padding: 0 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    text-align: center;
    justify-content: center;
}
@media screen and (min-width: 768px) {
.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;
}
}
@media screen and (min-width: 1158px) {
    .team{
    display: flex;
    gap: 24px;
    }
}
.team-member {
width: 264px;
text-align: center;
background-color: #FFFFFF;
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-member:last-child {
    margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
    .team-member {
    margin-bottom: 0;
    }
}
@media screen and (min-width: 1158px) {
    .team-member {
        flex-basis: calc((100% - 72px) / 4);
    }
}
.content {
    padding: 32px 0;

}
.member-name {
    color:#2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}
.member-position {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.social-list {
display: flex;
justify-content: center;
margin-top: 8px;
gap: 24px;
}
.social-item {
    width: 40px;
    height: 40px;
}
.social-icon {
    fill: #f4f4fd;
}
.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:active {
    background-color: #404BBF;
}
@media screen and (min-width: 1158px) {
    .social-link:hover,
    .social-link:focus {
        background-color: #404BBF;
    }
}
/* #endregion TEAM */



/* #region Portfolio */
.company-portfolio {
    background: #FFF;
}

.portfolio-title {
    color: var(--subheader-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-item {
    width:100%;
    background: #FFF;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 48px;
}
.portfolio-item:active {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-item:last-child {
    margin-bottom: 0px;
}
.img-wrapper {
    position: relative;
    overflow: hidden;
}
.overlay {
    color: #F4F4FD;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    line-height: 1.5;
    font-size: 16px;
    width: 100%;
    height: 100%;
    letter-spacing: 0.02em;
    background-color: #4D5AE5;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:active .overlay {
    transform: translatey(0);
}

.card-content {
    padding: 32px 16px;
    border-top: none;
    align-self: stretch;
    border: #F4F4FD;
    background: #FFF;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08); 
} 

.app-concept {
    color: var(--subheader-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.field-of-usage {
    color: var(--general-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

@media screen and (min-width: 768px) {
.portfolio {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
}
.portfolio-item {
    flex-basis: calc((100% - 24px) / 2);
    margin-bottom: 0;
}

}

@media screen and (min-width: 1158px) {
.portfolio {
    row-gap: 48px;
}
.portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
}
.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-item:focus .overlay,
.portfolio-item:hover .overlay {
    transform: translatey(0);
}
}


/* #endregion */

/* #region Footer */
.website-footer {
    background-color: var(--footer-background);
}

.website-footer .container {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
    justify-content: center;
    
}
.footer-logo {
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.web {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-align: center;
}
.second_name_upd {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
 .footer-text {
    color: var(--footer-text-color);
    min-width: 264px;
    font-family: var(--main-text-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    }
.social-media {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}
.footer-caption {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
 }

 .footer-socialm-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
 }
.footer-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:active {
    background-color: #31D0AA;
}

.subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.subscription-title {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.subscription-input {
    border-radius: 4px;
    border: 1px solid #FFF;
    opacity: 0.3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    width: 264px;
    height: 40px;
    font-size: 12px;
    letter-spacing: 0.04em;
    padding: 8px 16px;
    color: #ffffff;
    line-height: 2;
    margin-bottom: 16px;
}
.subscription-input::placeholder {
    color: #FFF;
}

.subscribe-btn {
    display: flex;
    padding: 8px 24px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.04em;
    min-width: 165px;
    height: 40px;
    margin-left: 24px;
    border-radius: 4px;
    background-color: #4D5AE5;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    margin: 0 auto;
}

.subscribe-btn:active {
    background-color: #404BBF;
}

.subscribtion-icon {
    fill: #FFFFFF;
    margin-left: 16px;
}

@media screen and (min-width:768px) {
    .web {
        text-align: left;
    }
    .footer-text {
        max-width: 264px;
    }
    .social-media {
        align-items: flex-start;
    }
   .subscription {
        align-items: flex-start;
    }
    .footer-form {
        display: flex;
        gap: 24px;
    }
    .footer-top {
        display: flex;
        gap: 24px;
        align-items: baseline;
    }

    .website-footer .container {
        align-items: flex-start;
        padding: 0 92px;
    }

}

@media screen and (min-width:1158px) {
    .website-footer .container {
        flex-direction: row;
        padding: 0;
        gap: 80px;
    }
    .footer-top {
        gap: 120px;
    }
    .subscribe-btn:hover,
    .subscribe-btn:focus {
    background-color: #404BBF;
     }
    .footer-link:hover,
    .footer-link:focus {
        background-color: #31D0AA;
    }
}

/* #endregion */


/* #region MOBILE MENU */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFF;
    width: 100%;
    height: 100%;
    z-index: 10000;
    padding: 72px 16px 40px 16px;

    display: flex;
    flex-direction: column;

    transform: translateX(767px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
    transform: translateX(0);
}
.mobile-menu-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn-icon {
fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-btn:active {
    background-color: #404BBF;
    border: none;
    }
.mobile-menu-btn:active .close-btn-icon {
    fill: #FFFFFF;
}

.mobile-menu-list {
    margin-bottom: auto;
}

.mobile-list-item:not(:last-child) {
margin-bottom: 40px;
}
.active {
    color: #404BBF;
}
.mobile-menu-link {
        color: #2E2F42;
            font-family: Roboto;
            font-size: 36px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: 0.72px;
            text-transform: capitalize;
}
.mobile-menu-link.active {
    color: #404BBF;
}

.mobile-menu-contacts {
    margin-bottom: 48px;
}

.mobile-menu-contact:not(:last-child) {
margin-bottom: 24px;
}

.mobile-menu-contact-link {
    color:#434455;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
}
.mobile-menu-contact-link.accent {
    color: #4D5AE5;
}

.mobile-socials {
    display: flex;
    gap: 40px;

}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* #endregion */


/* #region Backdrop */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    background-color: rgba(46, 47, 66, 0.40);
/*
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 72px 16px 24px 16px;
    width: 288px;
    height: 623px;
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}

.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn-icon {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:active {
    background-color: #404BBF;
    border: none;
}

.close-btn:active .close-btn-icon {
    fill: #FFFFFF;
}
.modal-caption {
    width: 256px;
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 16px;

}
.modal-form-field {
    margin-bottom: 8px;
}

.modal-form-field-last {
    margin-bottom: 16px;
}

.modal-form-label {
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
    display: block;
    margin-bottom: 4px;
}

.modal-form-box {
    position: relative;
}

.modal-form-input {
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    outline: transparent;

    padding: 11px 38px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    border-color: #4D5AE5;
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus+.modal-form-icon {
    fill: #4D5AE5;
}
.modal-form-comment {
    display: block;
    margin-top: 4px;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    resize: none;

    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    font-size: 12px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment:focus {
    border-color: #4D5AE5;
}

.modal-form-comment::placeholder {
    color: rgba(46, 47, 66, 0.40);
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.48px;
}

.modal-form-wrapper {
    margin-bottom: 24px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.modal-form-agreement {

    display: block;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;

    width: 100%;
}

.agreement-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="checkbox"]:checked+.modal-form-agreement .agreement-checkbox {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.checkbox-icon {
    opacity: 0;
    fill: #F4F4FD;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="checkbox"]:checked+.modal-form-agreement .agreement-checkbox .checkbox-icon {
    fill: #F4F4FD;
    opacity: 1;
}

.agreement-link {
    color: #4D5AE5;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.48px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

/* #endregion */



